.home-page{
	.row{
		margin-left:0px;
		margin-right:0px;
	}

	.inline-text{
		padding-top:6px;
	}

	.title-xs{
		padding-bottom:10px;
	}

	.btc-addr-input{
		width:450px;
	}

	.red{
		color:red;
		font-weight:600;
	}
}